@import './footer.scss';
@import './item.scss';
@import './list.scss';
@import './bulma-override.scss';
@import '../../node_modules/bulma/bulma.sass';
@import '../../node_modules/basscss/css/basscss-cp.min.css';
@import '../../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import './dashboard.scss';
body {
    background-color: #fefefe;
    text-align: center;
    .navbar {
      background: #21374B;
      color: #E7DACB;
      height: 50px;
    }
    .navbar-item{
      color:white;
    }
    h1 {
      font-size: 40px;
      margin-top: 30px;
    }
}