.dashboard{
  .listIcon {
    background-image: url("../asset/images/list.png");
    background-repeat: no-repeat;
    width: 5rem;
    height: 5rem;
    background-size: contain;
  }
  .selected {
    outline:red solid;
  }
  .board { 
    cursor: pointer;
  }
  .is-over{
    outline:blue solid !important;
  }
  .can-drop{
    outline:purple solid;
  }
}